<div class="jumbotron" *ngIf="pageLoading">
<form (ngSubmit)="addNewFlight(addForm)" #addForm="ngForm">
    <h3>Add Flight </h3>
    <hr />
    <div class="container">
      <div class="row" style="display: flex">
          <!-- Airport From input -->
          <div class="col-md-6">
            <div class="form-group ">
              <label for="flightFromId">Airport From :</label>
              <select name="flightFromId" id="flightFromId" class="name form-control" 
                      (change)="getSelectedAirportFrom($event)" [(ngModel)]="currentFlight.flightFromId"
                       [ngClass]="{ 'is-invalid': addForm.submitted && addForm.invalid }" required>
                <option selected value="0">Select Airport </option>
                <option *ngFor="let airport of airports" [value]="airport.id">{{airport.name}} </option>
              </select>
              <div *ngIf="addForm.submitted && addForm.invalid" class="invalid-feedback">
                <div> please select airport </div>
              </div>
            </div>
          </div>
          <!-- Airport From information -->
          <div class="col-md-6">
            <div class="form-group ">
              <label >City and Country :</label>
              <input type="text" class=" form-control" [(ngModel)]="airportFromInfo" name="airportFromInfo" disabled>
            </div>
          </div>
            <!-- Airport To input -->
        <div class="col-md-6">
            <div class="form-group ">
              <label for="flightToId">Airport To :</label>
              <select name="flightToId" id="flightToId" class="name form-control"
                      (change)="getSelectedAirportTo($event)" [(ngModel)]="currentFlight.flightToId"
                      [ngClass]="{ 'is-invalid': addForm.submitted && addForm.invalid }" required>
                <option selected value="0">Select Airport</option>
                <option *ngFor="let airport of airports" [value]="airport.id">{{airport.name}} </option>
              </select>
              <div *ngIf="addForm.submitted && addForm.invalid" class="invalid-feedback">
                <div> please select airport </div>
              </div>
            </div>
          </div>
           <!-- Airport To information -->
           <div class="col-md-6">
            <div class="form-group ">
              <label >City and Country :</label>
              <input type="text" class=" form-control" [(ngModel)]="airportToInfo" name="airportToInfo" disabled>
            </div>
          </div>
             <!-- Plane input -->
          <div class="col-md-6">
            <div class="form-group ">
              <label for="planeId">Choice Plane :</label>
              <select name="planeId" id="planeId" class="name form-control"
              (change)="getSelectedPlane($event)" [(ngModel)]="currentFlight.planeId"
              [ngClass]="{ 'is-invalid': addForm.submitted && addForm.invalid }" required>
                <option selected value="0">Select Plane</option>
                <option *ngFor="let plane of planes" [value]="plane.id">{{plane.name}} </option>
              </select>
              <div *ngIf="addForm.submitted && addForm.invalid" class="invalid-feedback">
                <div> please select airport </div>
              </div>
            </div>
          </div>
          <!-- Plane  information -->
          <div class="col-md-6">
            <div class="form-group ">
              <label>Plane Speed :</label>
              <input type="text" class=" form-control" [(ngModel)]="speed" name="speed" disabled>
            </div>
          </div>
          <!-- the distance between Airports-->
          <div class="col-md-6">
            <div class="form-group">
              <label>Distance (Km):</label>
              <input type="text" class="form-control" name="distance" 
              [(ngModel)]="currentFlight.flightDistance" disabled/>
            </div>
          </div>
           <!-- the distance between Airports-->
           <div class="col-md-6">
            <div class="form-group">
              <label for="Comsumption">Kerosene Comsumption (l):</label>
              <input type="text" class="form-control" name="Comsumption"
              [(ngModel)]="currentFlight.flightComsuption"  disabled/>
            </div>
          </div>
      </div>
    </div>
   
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button id="cancel-flight-btn" class="btn btn-warning add-contact-item" >
          <i class="la la-paper-plane-o d-lg-none"></i>
          <span class="d-none d-lg-block">
            Cancel
          </span>
        </button>
        &nbsp;
        <button type="submit" id="add-flight-btn" class="btn btn-info add-contact-item">
          <i class="la la-paper-plane-o d-lg-none"></i>
          <span class="d-none d-lg-block">
           Save Flight
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
