
  <div class="container-lg">
    <h3>Flights Overview</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Flight From</th>
          <th scope="col">Flight To</th>
          <th scope="col">Plane </th>
          <th scope="col">Distance </th>
          <th scope="col">Comsumption </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flightList" (click)="editFlight(flight.id)">
          <th scope="row">#</th>
          <td>{{flight.flightFrom.name}}</td>
          <td>{{flight.flightTo.name}}</td>
          <td>{{flight.plane.name}}</td>
          <td>{{flight.flightDistance}}</td>
          <td>{{flight.flightComsuption}}</td>
        </tr>
      </tbody>
    </table>
  </div>


